<% content_for :title do %>Common Tea<% end %>
<% content_for :description do %>Website of Common Tea<% end %>
<section>
<img src="http://www.wallsdata.biz/wp-content/uploads/2013/04/Purple-Nebula-Universe.jpg">
</section>
